<div class="row">
    <div class="col-md-12 text-center welcome">
        <h2 id="welcome_title">Get ready to cry, b/c you're about to scrape the biggest/best onion!</h2>
        <button type="submit" id="scrape" class="btn btn-danger btn-lg"> Scrape the onion! </button>
    </div>
</div>