body {
	background-image: url("onion_bg.jpg");
	background-size: cover;
	color: white;
	font-family: 'Nova Round', cursive;
}

#rowArea {
	margin-top: 5px;
	background-color: black;
	border-color: white;
	border-style: ridge;
	border-width: 5px;
	padding: 10px;
}

#noteArea {
	color: #949596;
}

#noteForm {
	background-color: #292b2c;
	padding: 15px;
	position: fixed;
	width: 30%;
	top: 60px;
	right: 10px;
}

#welcome_title {
	background-color: #292b2c;
	border: solid 3px;
}

.linktags {
	font-family: 'Pathway Gothic One', sans-serif;
}

.container {
	margin-top: 55px;
}